body {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Arial, sans-serif;
  background-color: #333;
  height: 100vh;
  margin: 0;
  color: #fff;
  }
  
  .dice-and-input-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .input-fields {
    text-align: center;
    margin-top: 10px;
  }
  
  .dice-icon-container, .input-fields {
    margin-bottom: 15px;
  }
  
  button {
    margin-top: 20px;
  }
  
  .calculator-container {
    text-align: center;
    padding: 20px;
    background-color: #444;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    width: 400px;
  }
  
  .dice-icon-container {
    display: inline-block;
    padding: 20px;
    margin: 10px 0;
  }
  
  
  .dice-icon {
    width: 70px;
    cursor: pointer;
    transition: transform 0.2s ease;
    text-align: center;
  }
  
  .dice-icon:hover {
    transform: rotate(20deg) scale(1.1);
  }
  
  #rolledNumber {
    font-size: 1.2em;
    color: #ffffff;
    margin-top: 8px;
  }
  
  #probabilityResult {
    margin-top: 20px;
    font-size: 1.2em;
  }
  